.m-burger__wrapper {
	position: fixed;
  right: 0;
  bottom: 0;
  padding: 0 $spacing/3 $spacing/2 0;
  z-index: 20;

  @media (min-width: $small) {
  	padding: 0 $spacing*6 $spacing*2 0;
  }

  display: flex;
  align-items: center;

  // &:before {
  // 	content: '';
  // 	position: fixed;
  // 	left: 0;
  // 	bottom: 0;
  // 	right: 0;
  // 	height: 70px;
  // 	background: $light;
  // 	opacity: 0.5;
  // }

  &:hover {
  	cursor: pointer;
  }
}

.m-burger {
	position: relative;
	width: 20px;
	height: 20px;
	margin: 8px;
	.m-burger__bar {
		position: absolute;
		width: 20px;
		height: 4px;
		background: $color-black;
		transition: all 0.25s ease-in-out;

		&:nth-child(1) { top: 0; }
		&:nth-child(2) { top: 50%; transform: translateY(-50%); }
		&:nth-child(3) { top: 16px; }			
	}
}

.m-burger[active] {
	.m-burger__bar {
		background: $color-white;
		&:nth-child(1) { top: 50%; transform: translateY(-50%); }
		&:nth-child(2) { top: 50%; transform: translateY(-50%); }
		&:nth-child(3) { top: 50%; transform: translateY(-50%); }
	}
}