/* ==========================================================================
   Transition settings
   ========================================================================== */

$transition-ease: ease-out !default;
$transition-duration: .15s !default;
$transition-duration-slow: .25s !default;
