/* ==========================================================================
   Color settings
   ========================================================================== */

$color-black: #000;
$color-white: #fff;

 /**
  * Social media
  */
$color-facebook: #3b5998;
$color-twitter: #1da1f2;
$color-linkedin: #0077b5;
