/* ==========================================================================
   Utilities - Container
   ========================================================================== */

$content-max-width: 1440px;

.u-container {
  max-width: $content-max-width;
  padding-right: $spacing*2;
  padding-left: $spacing*2;
  @media (min-width: $content-max-width) {
    margin-right: auto;
    margin-left: auto;
  }
}

.u-container-spacing {
  max-width: $content-max-width;
  padding: $spacing-medium 0;
  @media (min-width: $content-max-width) {
    margin-right: auto;
    margin-left: auto;
  }
}
