/* ==========================================================================
   Utilities - Clearfix
   ========================================================================== */

.u-clearfix:after {
  display: table;
  clear: both;
  content: "";
}