
/**
	* 8px grid
	*/
$spacing: 8px !default;
$spacing-small: $spacing*3;   // 24px
$spacing-medium: $spacing*5;  // 40px
$spacing-large: $spacing*10;  // 80px

/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }